---
layout: default
---
{% for post in site.posts %}

  <section class="row">
      <a href="{{ site.url }}/{{ post.permalink }}"><img src="{{ site.url }}/images/post_imgs/{{post.img}}" alt="{{ post.title }}" class="circle"></a>
      <a href="{{ site.url }}/{{ post.permalink }}"class="title">{{ post.title }}</a>
      {% if post.label == "Post" %}
      <span class="label-post">{{ post.label }}</span>
      {% elsif post.label == "Project" %}
      <span class="label-project">{{ post.label }}</span>
      {% endif %}
      <span class="date">{{ post.date | date: "%d %b %Y" }}</span>
      <p class="short-desc">{{post.short-desc}}</p>
  </section>

{% endfor %}
