  <div class="side-nav" id="side-nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Me</a></li>
      <li><a href="#">Contact</a></li>
      <li class="close"><a href="#">Close Menu</a></li>
    </ul>
  </div>
  <header>
    <nav class="navbar">
      <a href="#side-nav" class="menu-toggle"><i class="material-icons">menu</i></a>
      <a class="logo">MaciejOlszewski</a>
      <i class="material-icons search">search</i>
      <ul class="navigation">
        <li><a href="#"><i class="material-icons">view_list</i></a></li>
        <li><a href="#"><i class="material-icons">person</i></a></li>
        <li><a href="#"><i class="material-icons">question_answer</i></a></li>
      </ul>
    </nav>
  </header>
