  <div class="side-nav" id="side-nav">
    <ul>
      <li><a href="{{ site.url }}/">Home</a></li>
      <li><a href="{{ site.url }}/about/">About Me</a></li>
      <li><a href="{{ site.url }}/contact/">Contact</a></li>
      <li class="close"><a href="#">Close Menu</a></li>
    </ul>
  </div>
  <header>
    <nav class="navbar">
      <a title="MENU" href="#side-nav" class="menu-toggle"><i class="material-icons">menu</i></a>
      <a class="logo" href="{{ site.url }}/">MaciejOlszewski</a>

        <i id="searchbutton" onclick="onClick()" title="SEARCH" class="material-icons search"  value="Search">search</i>
        <form id="search" class="searchbox hide" role="search" method="get" action="{{site.baseurl}}/search/">
            <input id="searchString" name="searchString" placeholder="Search here..." type="text">
        </form>

      <ul class="navigation">
        <li title="PROJECTS"><a href="{{ site.url }}/"><i class="material-icons">view_list</i></a></li>
        <li title="ABOUT ME"><a href="{{ site.url }}/about/"><i class="material-icons">person</i></a></li>
        <li title="CONTACT"><a href="{{ site.url }}/contact/"><i class="material-icons">question_answer</i></a></li>
      </ul>
    </nav>
  </header>
