p, form
  margin: 20px 20px

input, textarea
  height: 30px
  width: 250px
  margin-bottom: 20px
  font-weight: lighter
  color: black
  border: 1px solid $grey
  font-size: 16px

textarea
  resize: none
  height: 150px


.btn-submit
  display: block
  float: left
  margin-left: 20px
  width: auto
  height: auto
