p, form
  margin: 20px 20px

input, textarea
  height: 30px
  width: 250px
  margin-bottom: 20px
  font-weight: lighter
  color: black
  border: 1px solid $grey

textarea
  resize: none
  height: 150px


.btn-submit
  padding: 0px 20px
  background-color: $red
  width: 80px
  color: white
  font-size: 16px
  transition: background-color 0.2s ease
  cursor: pointer

.btn-submit:hover
  background-color: lighten($red, 8%)
