@media (max-width: 750px)
  ul.navigation, section.row > .date
    display: none

  section.row > .title, span.title
    font-size: 14px


@media (max-width: 590px)
  #searchbutton, #search
    display: none

  div.side-nav ul
    width: 100%

  div.side-nav li a
    font-size: 26px
    font-weight: bold
    margin-bottom: 15px

@media (max-width: 455px)
  section.row img
    display: none
  section.row > .label-project
    float: right
