@media (max-width: 750px)
  ul.navigation, section.row > .date
    display: none


@media (max-width: 590px)
  input.searchbox
    display: block
    position: fixed
    top: 25%
    left: 40%
    z-index: 100

@media (max-width: 455px)
  section.row > .short-desc
    display: none
@media (max-width: 370px)
  i.search
    display: none
