//"sticky" footer fix
html,body
  height: 100%
  font-family: 'Roboto', sans-serif
  margin: 0
  padding: 0
.page-wrap
  min-height: 100%
  margin-bottom: -40px
.page-wrap:after
  content: ""
  display: block
  height: 40px

div.clearfix
  clear: both

@import "mixins"
@import "colors"
@import "navigation"
@import "header"
@import "sections"
@import "footer"
@import "contact"
@import "post"
@import "syntax"
@import "media-queries"
