---
layout: default
---

<section class="row post">
  <img src="{{ site.url }}/images/post_imgs/{{page.img}}" alt="{{ page.title }}" class="circle">

  {% if post.label == "Post" %}
  <span class="label-post">{{ page.label }}</span>
  {% elsif post.label == "Project" %}
  <span class="label-project">{{ page.label }}</span>
  {% endif %}
  <span class="date">{{ page.date | date: "%d %b %Y" }}</span>
</section>


  <article class="post-content">
    <span class="title">{{ page.title }}</span>
    {{ content }}
  </article>
